.booklist_div{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}


.SearchDiv input {
    outline: none;
    
}
