.Prod_div{
    width: 90%;
    
    padding-top: 3rem;
    margin: auto;
    font-family: 'Inter', sans-serif;
    
    
    
}

.innerDiv{
    display: flex;
}

.SideBar{
    width: 30%;
    text-align: left;
    
    
}

.allProduct_div{
    width: 70%;
}