.sidebar_div{
    height: 100vh;
    margin-top: 20px;
    background-color: #ffe6ef;
    width: 70%;
    padding: 20px;
    border-radius: 5px;
}

.label{
    margin-left: 1rem;
    
    margin-bottom: -3px;
    align-items: center;
}
.brand_checkbox{
    cursor: pointer;
    width: 20px;
    height: 20px;
}

.radio_btn{
    margin-left: 28px;
    cursor: pointer;
    width: 20px;
    height: 20px;
    text-align: right;
}
.radio_label{
    margin-left: 0.5rem;
    
}

.filter_text{
    margin-bottom: 1rem;
}

.sortByPrice{
    margin-top: 2rem;
}
.sidebar_div >div{
    display: flex;
    flex-direction: row;
    padding: 0.1rem;
    background-color: 	 #ffcce0;
    margin-top: 0.7rem;
    align-items: center;
    justify-content: flex-start;
    
}
.sortBox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    /* border: 1px solid; */
}
.sortBoxIn{
    display: flex;
    /* font-size: 15px; */
    margin-left: 0px;
}
.sortBoxIn input{
    width: 15px;
}