.heading{
    width: 80%;
    margin: auto;
    /* border: 1px solid; */
    display: flex;
    justify-content: center;
    gap: 30px;
}
.heading h1{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
}

.buttonBox{
    width:80%;
    height: 8vh;
    font-size: 25px;
    margin:auto;
    /* border:1px solid #ddd; */
    padding:10;
    display:flex;
    justify-content:space-around;
}

.buttonBox button{
    border: 1px solid #ddd;
    width: 250px;
    border-radius: 8px;
}
.buttonBox button:hover{
    background-color: rgb(248, 237, 245);
}

.DashBox{
    border: 1px solid #ddd;
    width: 85%;
    margin: auto;
    margin-top: 50px;
    height: 80vh;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
}
.DashImgCont{
    border: 1px solid #ddd;
    width: 78%;
    padding: 10px;
}
.DashImgBox{
    /* border: 1px solid #ddd; */
    width: 98%;
    margin: auto;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 5px;
}
.DashImgBox h3, .DashDataCont h2{
    font-size: 30px;
}
.imgDiv{
    height: 50px;
    margin-top: 20px;
}

.DashDataCont{
    border: 1px solid #ddd;
    width: 28%;
    padding: 10px;
}
.DashDataBox{
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 10px;
}