.heading{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color:black;
}
.tableContainer{
  width:95%;
  margin:auto;
  margin-top: 40px;
  margin-bottom:5vh;
  border:1px solid #ddd;
  height:100vh;
  color:black;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.tableBox{
  width:73%;
  margin:auto;
  border:1px solid #ddd;
  height:80%;
  overflow:scroll;
  color:black;
  overflow-x:hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f7eaf6;
}
tr td{
    border: 1px solid #ddd;
}
.buttons{
    width: 80px;
  }
.buttonBox{
    display:flex;
    align-items:center;
    gap:5px;
    flex-direction:column;
}
.buttonBox button{
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 5px;
  width: 60px;
}
.sku{
    width: 32.5px;
  }
.image{
    width: 70px;
  }
.title{
    width: 300px;
    box-sizing: border-box;
    overflow: hidden;
  }
.brand{
    width: 70px;
  }
.mrp{
    width: 50px;
  }
.sell{
    width: 60px;
  }
.stock{
    width: 57px;
}
.qty{
    width: 43px;
}
  