body{
  color:black;
}


.heading{
    text-align: center;
    font-size: 35px;
    margin-bottom: 20px;
    color:black;
}
.tableContainer{
  width:95%;
  margin:auto;
  color:black;
  margin-top: 40px;
  margin-bottom:5vh;
  border:1px solid #424242;
  height:100vh;
  display:flex;
  justify-content:space-around;
  align-items:center;
}
.tableBox{
  width:73%;
  color:black;
  margin:auto;
  border:1px solid #ddd;
  height:80%;
  overflow:scroll;
  overflow-x:hidden;
}
table {
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    color:black;
}
  
tr:nth-child(even) {
    background-color: #f7eaf6;
}
tr td{
    border: 1px solid #ddd;
}
.buttons{
    width: 88px;
  }
.buttonBox{
    display:flex;
    align-items:center;
    gap:5px;
    flex-direction:column;
}
.buttonBox button{
  border: 1px solid #ddd;
  padding: 2px;
  border-radius: 5px;
  width: 60px;
}
.sku{
    width: 32.5px;
  }
.image{
    width: 74px;
  }
.title{
  color:black;
    width: 330px;
    box-sizing: border-box;
    overflow: hidden;
  }
.brand{
    width: 70px;
  }
.mrp{
    width: 50px;
  }
.sell{
    width: 60px;
  }
.stock{
    width: 50px;
}
.qty{
    width: 40px;
}

/* =======[Side Pannel]========= */
.sideContainer{
  width:20%;
  margin:auto;
  border:1px solid #ddd;
  height:80%;
}
.sideBox{
  width:80%;
  margin:auto;
  border:1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
.sideAddButtonBox{
  width: 100%;
  /* border: 1px solid; */
  margin: auto;
  text-align: center;
}
.sideAddButton{
  /* border: 1px solid; */
  width: 200px;
  margin: auto;
  padding: 10px;
  border-radius: 8px;
  background-color: #D53F8C;
  color: white;
}
.sideAddButton:hover{
  background-color: #f5e4ed;
  color: black;
}