.signup_main_container{
    margin: 0;
    padding: 0;
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    height: auto;
    /* overflow: hidden; */

}
.signup_main_container{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background:white;
    border-radius: 5%;
    padding: 10px;
}
.signup_main_container h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;

}
.input_space{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
    background-color: white;
}
.input_space input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: rgb(184, 182, 179);
    outline: none;

}
.praButton{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #2691d9;
    border-radius: 25px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    
}
.praButton:hover{
    border-color: #2691d9;
    transition: .5s;
}
.login_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}
.signup_box{
    width: 98%;
    height: 100vh;
    /* margin: 0;
    padding: 0; */
    font-family: montserrat;
    background: linear-gradient(120deg,#2980b9, #8e44ad);
    margin: auto;
    /* height: auto; */
    /* overflow: hidden; */
    /* border: 1px solid red; */
  }
  .reg{
    font-size: 35px;
    font-weight: 500;
    color: black;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input{
    background-color: #666666;
    color:black
}