.front_page_container{
    width: 95%;
    /* height: 100vh; */
    text-align: center;
    margin: auto;
    color:black;
}



/* .front_page_container img :hover{
    transform: scale(1.1);
    transition: all 1s linear;
} */
.caurosel_part{
    width: 98%;
    height: 20%;
    /* border: 1px solid black; */
    /* margin-left: 3%; */
    /* margin: auto;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; */
    margin: auto;
}
.biggest_day_container{
    width: 100%;
    height: auto;
    /* border: 2px solid teal; */
    display: flex;
    gap: 1%;
    margin: auto;
    /* justify-content: center; */
    /* margin-top: 5%; */
    /* margin-left:5% ; */
    justify-content: center;


}
.biggest_day_container>div>img{
    width: 100%;
    /* border: 1px solid black; */
    
}

.biggest_day_container>div>img:hover{
    transform: scale(1.08);
    transition: all 1s linear;
    cursor: pointer;
    }
.greycolor{
    color: grey;
    font-weight: 400;
    font-size: 18px;
    padding-top: 5px;
}
.biggest_day_subcontainer{
    width: 60%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    gap: 5%;
    margin: auto;
    margin-top: 3%;
    /* margin-left: 25%; */
    justify-content: center;
}
.biggest_day_subcontainer img{
    width: 100%;
}
.biggest_day_subcontainer img:hover{
    transform: scale(1.08);
    transition: all 1s linear;
    cursor: pointer;
}

.small_headline{
    width: 85%;
    height: 15%;
    /* border: 1px solid brown; */
    margin: auto;
}
.small_headline>img{
    width: 100%;
}

.stockup_container{
    width: 95%;
    height: auto;
    /* border: 1px solid red; */
    display: flex;
    gap: 5%;
    margin: auto;
    /* margin-left: 6%; */
    /* margin-top: 3%; */
    justify-content: center;

}
.stockup_container>div>img{
    width: 100%;
}
.sale_ary_saver_container{
    width: 95%;
    height: 40%;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(3,1fr);
    margin: auto;
    margin-top: 5%;
    gap: 2%;
    /* margin-left: 6%; */
    justify-content: center;
    
}
.sale_ary_saver_container>div>img{
width: 100%;
}
.sale_ary_saver_container>div>img:hover{
    transform: scale(1.08);
    transition: all 1s linear;
    cursor: pointer;
    }

.super_saving_zone{
    width: 100%;
    height: auto;
    /* border: 1px solid black; */
    /* margin-left: 3%; */
    margin: auto;
    justify-content: center;
    margin-top: 7%;


    
}
.super_saving_zone>img{
    width: 100%;
}
.house_nykaa{
    width: 70%;
    height: 40%;
    display: flex;
    /* margin: auto; */
    gap: 2%;
    margin: auto;
    justify-content: center;
    /* margin-left: 18%; */
}
.house_nykaa>div>img{
    width: 100%;
}
h1{
    font-weight: 400;
    
}
.shop_all{
    
width: 45%;
height: 27%;
margin: auto;
margin-top: 7%;
}
.shop_all>img{
    width: 100%;
}
.big{
    font-size: 40px;
    padding-bottom: 20px;
}
.hh3{
    font-size: 22px;
    padding-top: 10px;
}
.bigsale{
    font-size: 40px;
    padding-top: 10px;
    
}